[Unit]
Description=Berkut Tuya Pulsar Worker
After=network-online.target
Wants=network-online.target

[Service]
User=orangepi
WorkingDirectory=/home/orangepi/BerkutTuyaPulsarWorker
ExecStartPre=/bin/bash -c 'until host example.com; do sleep 1; done'
ExecStart=/home/orangepi/BerkutTuyaPulsarWorker/BerkutTuyaPulsarWorker
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=exec
StandardOutput=journal
StandardError=journal
SyslogIdentifier=BerkutTuyaPulsarWorker

[Install]
WantedBy=multi-user.target